body {
    background-image: url(../images/landscape2.jpg);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    /*background-position: center center;*/
    padding: 20px;
    margin: 20px;
}